{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>
<p><a href="{% url 'portfolio:competencia_criar' %}" class="btn">+ Nova Competência</a></p>

<section>
    {% for comp in competencias %}
    <article>
        <header>
            <h3>{{ comp.nome }}</h3>
            {% if comp.tipo %}
                <p>{{ comp.tipo }}</p>
            {% endif %}
        </header>

        <section>
            <h4>Nível</h4>
            <ul>
                <li>{{ comp.nivel }}/5</li>
            </ul>
            {% if comp.descricao %}
                <p>{{ comp.descricao }}</p>
            {% endif %}
        </section>

        <section class="acoes">
            <a href="{% url 'portfolio:competencia_editar' comp.id %}" class="btn">Editar</a>
            <a href="{% url 'portfolio:competencia_apagar' comp.id %}" class="btn btn-danger">Apagar</a>
        </section>
    </article>
    {% empty %}
        <p>Sem competências registadas.</p>
    {% endfor %}
</section>
{% endblock %}