{% extends "portfolio/base.html" %}

{% block content %}
<h2>{{ titulo }}</h2>

<section>
    <article>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div style="margin-bottom: 15px;">
                    <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label><br>
                    {{ field }}
                    {% if field.errors %}
                        <p style="color: red;">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Guardar</button>
            <a href="{% url 'portfolio:projetos' %}">Cancelar</a>
        </form>
    </article>
</section>
{% endblock %}