<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'escola/styles.css' %}">
</head>
<body>
    <header>
        <h1>Escola</h1>
        <nav>
            <a href="{% url 'escola:cursos' %}">Cursos</a>
            <a href="#">Professores</a>
            <a href="#">Alunos</a>
        </nav>
    </header>

    <main>
        <nav>
    <a href="{% url 'escola:cursos' %}">Cursos</a>
    <a href="{% url 'escola:professores' %}">Professores</a>
    <a href="{% url 'escola:alunos' %}">Alunos</a>
       </nav>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>
</body>
</html>